
.App {
  text-align: center;
}
@font-face {
  font-family: ProximaNova;
  src: url("font/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
  font-family: ProximaNovaBold;
  src: url("font/ProximaNovaBold.otf") format("opentype");
}
.PrivateTabIndicator-colorSecondary-384 {
  background-color: #000000;
}